/*

Padlock design inspired by Chris Cacioppe on Dribbble:

https://dribbble.com/shots/4009114-Unlock-Animation

*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: #eee;
    background: #192435;

}

.sunrise {
    background:#e66465 !important;
    transition: 10s;
}
h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 8px;
}

h1 span {
    font-size: 52px;
    color: #77e7ad;
}

h2 {
    font-size: 17px;
    margin-bottom: 35px;
}

.heard {
    font-size: 35px;
    margin-top: 25px;
}

.heard-output {
    color: #e66465;
}

#roto {
    width: 80vw;
    height:80vh;
    transition: 2s;
    opacity:0;
}

.appear {
opacity: 1 !important;
transition: 2s;

}